.card {
    background: #fff;
    border-radius: 2px;
    position: block;
    box-shadow: 0 2px 4px #999, 0 2px 4px #999;
    text-align: left;
    height: 40%;
    width: 40%;
    margin: 10px;

}

.card > .img-container {
    /* height: 60%; */
    /* overflow: hidden; */
    text-align: center;
    background: white;
    margin: 10px;
 
}

.card > .img-container > img {
    height: 80%;
    width: 80%;
}